.friendsList {
  font-size: 24px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
}

.friendsItem {
  background-color: #ffffff;
  padding: 20px 30px;
  flex-basis: 32%;
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 5px 5px 2px #0000001a;
}

.friendStatus {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
