.stats {
  padding: 0 10px;
  background-color: #e6e6e6;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  border-top: 1px solid #cfcfcf;
}

.statsItem {
  margin: 20px 0;
  flex-basis: 32%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.statsItem:not(:last-child) {
  border-right: 1px solid #cfcfcf;
}

.label {
  display: block;
  font-size: 24px;
  color: grey;
}

.quantity {
  display: block;
  font-size: 24px;
  font-weight: 600;
}

.profile {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 5px 19px 2px #0000001a;
  width: 400px;
  padding-top: 50px;
  border-radius: 5px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 120px;
  border-radius: 50%;
}

.name {
  font-weight: 600;
  font-size: 36px;
  margin: 10px 0;
}

.tag {
  color: grey;
  font-size: 24px;
  margin: 10px 0;
}

.location {
  color: grey;
  font-size: 24px;
  margin-bottom: 20px;
}
